{:aliases
 {:dev {:extra-deps {expound/expound         {:mvn/version "0.9.0"}
                     hashp/hashp             {:mvn/version "0.2.1"}
                     philoskim/debux         {:mvn/version "0.8.2"}
                     org.clojure/tools.trace {:mvn/version "0.7.11"}}}}}
